@font-face {
    font-family: 'MagnisaSans';
    src: url('fonts/MagnisaSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-principal: #BC2E42;
    --color-principal-hover: #912736;
    --color-secundario: #F2F1ED;
    --color-texto: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'MagnisaSans', sans-serif;
    color: var(--color-principal);
    background-color: var(--color-secundario);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--color-principal);
    padding: 20px 0;
    border-bottom: 2px solid var(--color-secundario);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.header-content .logo, .header-content .logo-name {
    cursor: pointer;
    font-size: 55px;
    color: var(--color-secundario);
}

.contact-link a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 25px;
}

.contact-link a:hover {
    background-color: var(--color-principal-hover);
    padding: 15px;
    transition: 0.5s;
}

nav {
    background-color: var(--color-principal);
    padding: 15px 0;
    border-top: 2px solid var(--color-secundario);
    border-bottom: 2px solid var(--color-secundario);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 25px;
}

nav ul li a:hover {
    background-color: var(--color-principal-hover);
    padding: 10px;
    transition: 0.25s;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
}

footer {
    background-color: var(--color-principal);
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid var(--color-secundario);
    width: 100%;
}

footer p {
    color: var(--color-secundario);
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content .logo, .header-content .logo-name {
        font-size: 35px;
    }

    .contact-link a {
        font-size: 20px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

    nav ul li a {
        font-size: 18px;
    }
}
